<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');
            
            *{
                font-family: 'Noto Sans KR', sans-serif;
            }
            
            
            </style>
    
</head>

<body>
    <div class="container">
        <h1>당뇨병확인</h1>
        <p>
            당뇨여부 = <h3 class="text-danger">{{당뇨여부}}</h3>
        </p>
        <div >
            <form method="post">
                임신수치
                <input class="form-control" type="text" name="a" value="{{a}}">
                글루코스(탄수화물 화합물)
                <input class="form-control" type="text" name="b" value="148">
                혈압
                <input class="form-control" type="text" name="c" value="72">
                피부두께
                <input class="form-control" type="text" name="d" value="35">
                인슐린
                <input class="form-control" type="text" name="e" value="0">
                BMI
                <input class="form-control" type="text" name="f" value="{{f}}">
                가족력
                <input class="form-control" type="text" name="g" value="0.6">
                나이
                <input class="form-control" type="text" name="age" value="50">
                <input class="btn btn-secondary m-3" type="submit" value="당뇨확인" >
            </form>
        </div>
    </div>
</body>

</html>